<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator - History</title>
</head>
<body>
    <table>
        <tr>
            <th>Input Language</th>
            <th>Input Text</th>
            <th>Output Text</th>
        </tr>
        {% for translation in history %}
        <tr>
            <td>{{ translation.inputLanguage }}</td>
            <td>{{ translation.inputText }}</td>
            <td>{{ translation.outputText }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>